{% extends 'blocks/base.html' %}

{% block title %}Contextual Menu with Drag & Drop{% endblock %}

{% block buttons %}
    <button type="button" id="btn-UD" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-arrow-down"></i></button>
    <button type="button" id="btn-DU" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-arrow-up"></i></button>
    <button type="button" id="btn-LR" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-arrow-right"></i></button>
    <button type="button" id="btn-RL" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-arrow-left"></i></button>
    |
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
{% endblock %}

{% block alerts %}
    <div class="alert alert-info">
        <i class="fa fa-info-circle fa-fw"></i> All the opened & selected nodes will be saved in the user's browser.
    </div>
{% endblock %}

{% block content %}
    <div id="mynetwork"></div>
    <p id="selection"></p>
    <input type="hidden" id='direction' value="UD">
{% endblock %}

{% block code %}
    <script type="text/javascript">
$(document).ready(function () {
    var data = { nodes: [], edges: [] };

    for (var i = 0; i < 15; i++) {
        data.nodes.push({id: i, label: String(i)});
    }

    data.edges.push({from: 0, to: 1});
    data.edges.push({from: 0, to: 6});
    data.edges.push({from: 0, to: 13});
    data.edges.push({from: 0, to: 11});
    data.edges.push({from: 1, to: 2});
    data.edges.push({from: 2, to: 3});
    data.edges.push({from: 2, to: 4});
    data.edges.push({from: 3, to: 5});
    data.edges.push({from: 1, to: 10});
    data.edges.push({from: 1, to: 7});
    data.edges.push({from: 2, to: 8});
    data.edges.push({from: 2, to: 9});
    data.edges.push({from: 3, to: 14});
    data.edges.push({from: 1, to: 12});

    data.nodes[0]["level"] = 0;
    data.nodes[1]["level"] = 1;
    data.nodes[2]["level"] = 3;
    data.nodes[3]["level"] = 4;
    data.nodes[4]["level"] = 4;
    data.nodes[5]["level"] = 5;
    data.nodes[6]["level"] = 1;
    data.nodes[7]["level"] = 2;
    data.nodes[8]["level"] = 4;
    data.nodes[9]["level"] = 4;
    data.nodes[10]["level"] = 2;
    data.nodes[11]["level"] = 1;
    data.nodes[12]["level"] = 2;
    data.nodes[13]["level"] = 1;
    data.nodes[14]["level"] = 5;

    var directionInput = document.getElementById("direction");

    function destroy() {
        if (network !== null) {
            network.destroy();
            network = null;
        }
    }

    function draw() {
        destroy();

        network = Program.UI.graph('mynetwork', data, {
            edges: {
                smooth: {
                    type: 'cubicBezier',
                    forceDirection: (directionInput.value == "UD" || directionInput.value == "DU") ? 'vertical' : 'horizontal',
                    roundness: 0.4
                }
            },
            layout: {
                hierarchical: {
                    direction: directionInput.value,
                }
            },
            physics:false
        });

        network.on('select', function (params) {
            document.getElementById('selection').innerHTML = 'Selection: ' + params.nodes;
        });

        console.log(network);
    }

    var directionInput = document.getElementById("direction");
    var btnUD = document.getElementById("btn-UD");
    btnUD.onclick = function () {
        directionInput.value = "UD";
        draw();
    };
    var btnDU = document.getElementById("btn-DU");
    btnDU.onclick = function () {
        directionInput.value = "DU";
        draw();
    };
    var btnLR = document.getElementById("btn-LR");
    btnLR.onclick = function () {
        directionInput.value = "LR";
        draw();
    };
    var btnRL = document.getElementById("btn-RL");
    btnRL.onclick = function () {
        directionInput.value = "RL";
        draw();
    };
});
    </script>
{% endblock %}

