		    <div class="panel panel-inverse" data-sortable-id="index-4">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Quick Post</h4>
                </div>
                <div class="panel-footer text-right">
                </div>
            </div>

{% extends 'blocks/base.html' %}

{% block title %}Contextual Menu with Drag & Drop{% endblock %}

{% block buttons %}
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
{% endblock %}

{% block alerts %}
    <div class="alert alert-info">
        <i class="fa fa-info-circle fa-fw"></i> All the opened & selected nodes will be saved in the user's browser.
    </div>
{% endblock %}

{% block body %}
    <div class="panel-toolbar">
        <div class="btn-group m-r-5">
		    <a class="btn btn-white" href="javascript:;"><i class="fa fa-bold"></i></a>
		    <a class="btn btn-white active" href="javascript:;"><i class="fa fa-italic"></i></a>
		    <a class="btn btn-white" href="javascript:;"><i class="fa fa-underline"></i></a>
	    </div>
        <div class="btn-group">
		    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-left"></i></a>
		    <a class="btn btn-white active" href="javascript:;"><i class="fa fa-align-center"></i></a>
		    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-right"></i></a>
		    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-justify"></i></a>
	    </div>
    </div>
    <textarea class="form-control no-rounded-corner bg-silver" rows="14">Enter some comment.</textarea>
{% endblock %}

{% block footer %}
    <a href="javascript:;" class="btn btn-white btn-sm">Cancel</a>
    <a href="javascript:;" class="btn btn-primary btn-sm m-l-5">Action</a>
{% endblock %}

{% block code %}
    <script type="text/javascript">
$(document).ready(function () {
    var network = Program.UI.graph('mynetwork', {
        nodes: [
            {id: 1, label: 'Node 1'},
            {id: 2, label: 'Node 2'},
            {id: 3, label: 'Node 3:\nLeft-Aligned', font: {'face': 'Monospace', align: 'left'}},
            {id: 4, label: 'Node 4'},
            {id: 5, label: 'Node 5\nLeft-Aligned box', shape: 'box',
             font: {'face': 'Monospace', align: 'left'}}
        ],
        edges: [
            {from: 1, to: 2, label: 'middle',     font: {align: 'middle'}},
            {from: 1, to: 3, label: 'top',        font: {align: 'top'}},
            {from: 2, to: 4, label: 'horizontal', font: {align: 'horizontal'}},
            {from: 2, to: 5, label: 'bottom',     font: {align: 'bottom'}}
        ],
    }, {});

    console.log(network);
});
    </script>
{% endblock %}

