{% extends 'widget.html' %}

{% block title %}Contextual Menu with Drag & Drop{% endblock %}

{% block buttons %}
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
{% endblock %}

{% block alerts %}
    <div class="alert alert-info">
        <i class="fa fa-info-circle fa-fw"></i> All the opened & selected nodes will be saved in the user's browser.
    </div>
{% endblock %}

{% block content %}
    <div id="mynetwork"></div>
{% endblock %}

{% block code %}
    <script type="text/javascript">
    var DIR = 'img/soft-scraps-icons/';

    var nodes = null;
    var edges = null;
    var network = null;

    // Called when the Visualization API is loaded.
    function draw() {
      // create people.
      // value corresponds with the age of the person
      var DIR = '../img/indonesia/';
      nodes = [
        {id: 1,  shape: 'circularImage', image: DIR + '1.png'},
        {id: 2,  shape: 'circularImage', image: DIR + '2.png'},
        {id: 3,  shape: 'circularImage', image: DIR + '3.png'},
        {id: 4,  shape: 'circularImage', image: DIR + '4.png', label:"pictures by this guy!"},
        {id: 5,  shape: 'circularImage', image: DIR + '5.png'},
        {id: 6,  shape: 'circularImage', image: DIR + '6.png'},
        {id: 7,  shape: 'circularImage', image: DIR + '7.png'},
        {id: 8,  shape: 'circularImage', image: DIR + '8.png'},
        {id: 9,  shape: 'circularImage', image: DIR + '9.png'},
        {id: 10, shape: 'circularImage', image: DIR + '10.png'},
        {id: 11, shape: 'circularImage', image: DIR + '11.png'},
        {id: 12, shape: 'circularImage', image: DIR + '12.png'},
        {id: 13, shape: 'circularImage', image: DIR + '13.png'},
        {id: 14, shape: 'circularImage', image: DIR + '14.png'},
        {id: 15, shape: 'circularImage', image: DIR + 'missing.png', brokenImage: DIR + 'missingBrokenImage.png', label:"when images\nfail\nto load"},
        {id: 16, shape: 'circularImage', image: DIR + 'anotherMissing.png', brokenImage: DIR + '9.png', label:"fallback image in action"}
      ];

      // create connections between people
      // value corresponds with the amount of contact between two people
      edges = [
        {from: 1, to: 2},
        {from: 2, to: 3},
        {from: 2, to: 4},
        {from: 4, to: 5},
        {from: 4, to: 10},
        {from: 4, to: 6},
        {from: 6, to: 7},
        {from: 7, to: 8},
        {from: 8, to: 9},
        {from: 8, to: 10},
        {from: 10, to: 11},
        {from: 11, to: 12},
        {from: 12, to: 13},
        {from: 13, to: 14},
        {from: 9, to: 16}
      ];

      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          borderWidth:4,
          size:30,
	      color: {
            border: '#222222',
            background: '#666666'
          },
          font:{color:'#eeeeee'}
        },
        edges: {
          color: 'lightgray'
        }
      };
      network = new vis.Network(container, data, options);
    }
    </script>
{% endblock %}

