{% extends 'layouts/dashboard.html' %}

{% block page_title %}
Docker
<small>where we contain everything...</small>
{% endblock %}

{% block before_widgets %}
    <div class="col-md-3 col-sm-6">
        <div id="docker_image_list" class="widget widget-stats bg-blue">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-image fa-fw"></i></div>
            <div class="stats-title">Docker Images</div>
            <div class="stats-number">??????</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 70.1%;"></div>
            </div>
            <div class="stats-desc">Better than last week (70.1%)</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div id="docker_container_list" class="widget widget-stats bg-red">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-cubes fa-fw"></i></div>
            <div class="stats-title">Docker Containers</div>
            <div class="stats-number">??????</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 40.5%;"></div>
            </div>
            <div class="stats-desc">Better than last week (40.5%)</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div id="docker_volume_list" class="widget widget-stats bg-green">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-disk fa-fw"></i></div>
            <div class="stats-title">Docker Volumess</div>
            <div class="stats-number">??????</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 76.3%;"></div>
            </div>
            <div class="stats-desc">Better than last week (76.3%)</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div id="docker_network_list" class="widget widget-stats bg-purple">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-sitemap fa-fw"></i></div>
            <div class="stats-title">Docker Networks</div>
            <div class="stats-number">??????</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: 76.3%;"></div>
            </div>
            <div class="stats-desc">Better than last week (76.3%)</div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Visitors Origin
                </h4>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <span class="badge badge-success">20.95%</span>
                    1. United State 
                </a> 
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <span class="badge badge-primary">16.12%</span>
                    2. India
                </a>
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <span class="badge badge-inverse">14.99%</span>
                    3. South Korea
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block after_widgets %}
    <!-- begin col-4 -->
    <div class="col-md-4">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-2">
            <div class="panel-heading">
                <h4 class="panel-title">Chat History <span class="label label-success pull-right">4 message</span></h4>
            </div>
            <div class="panel-body bg-silver">
                <div data-scrollbar="true" data-height="225px">
                    <ul class="chats">
                        <li class="left">
                            <span class="date-time">yesterday 11:23pm</span>
                            <a href="javascript:;" class="name">Sowse Bawdy</a>
                            <a href="javascript:;" class="image"><img alt="" src="{{ 'img/user-12.jpg'|static }}" /></a>
                            <div class="message">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit volutpat. Praesent mattis interdum arcu eu feugiat.
                            </div>
                        </li>
                        <li class="right">
                            <span class="date-time">08:12am</span>
                            <a href="#" class="name"><span class="label label-primary">ADMIN</span> Me</a>
                            <a href="javascript:;" class="image"><img alt="" src="{{ 'img/user-13.jpg'|static }}" /></a>
                            <div class="message">
                                Nullam posuere, nisl a varius rhoncus, risus tellus hendrerit neque.
                            </div>
                        </li>
                        <li class="left">
                            <span class="date-time">09:20am</span>
                            <a href="#" class="name">Neck Jolly</a>
                            <a href="javascript:;" class="image"><img alt="" src="{{ 'img/user-10.jpg'|static }}" /></a>
                            <div class="message">
                                Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </div>
                        </li>
                        <li class="left">
                            <span class="date-time">11:15am</span>
                            <a href="#" class="name">Shag Strap</a>
                            <a href="javascript:;" class="image"><img alt="" src="{{ 'img/user-14.jpg'|static }}" /></a>
                            <div class="message">
                                Nullam iaculis pharetra pharetra. Proin sodales tristique sapien mattis placerat.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-footer">
                <form name="send_message_form" data-id="message-form">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="message" placeholder="Enter your message here.">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="button">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-md-4">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-3">
            <div class="panel-heading">
                <h4 class="panel-title">Today's Schedule</h4>
            </div>
            <div id="schedule-calendar" class="bootstrap-calendar"></div>
            <div class="list-group">
                <a href="#" class="list-group-item text-ellipsis">
                    <span class="badge badge-success">9:00 am</span> Sales Reporting
                </a> 
                <a href="#" class="list-group-item text-ellipsis">
                    <span class="badge badge-primary">2:45 pm</span> Have a meeting with sales team
                </a>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-md-4">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-4">
            <div class="panel-heading">
                <h4 class="panel-title">New Registered Users <span class="pull-right label label-success">24 new users</span></h4>
            </div>
            <ul class="registered-users-list clearfix">
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-5.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Savory Posh
                        <small>Algerian</small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-3.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Ancient Caviar
                        <small>Korean</small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-1.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Marble Lungs
                        <small>Indian</small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-8.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Blank Bloke
                        <small>Japanese</small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-2.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Hip Sculling
                        <small>Cuban</small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-6.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Flat Moon
                        <small>Nepalese</small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-4.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Packed Puffs
                        <small>Malaysian></small>
                    </h4>
                </li>
                <li>
                    <a href="javascript:;"><img src="{{ 'img/user-9.jpg'|static }}" alt="" /></a>
                    <h4 class="username text-ellipsis">
                        Clay Hike
                        <small>Swedish</small>
                    </h4>
                </li>
            </ul>
            <div class="panel-footer text-center">
                <a href="javascript:;" class="text-inverse">View All</a>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-4 -->
{% endblock %}

{% block app_modules %}
	    <script src="{{ 'js/dashboard-v2.min.js'|static }}"></script>
{% endblock %}

{% block app_program %}
	    <script type="text/javascript">
$(document).ready(function() {
    DashboardV2.init();
});

function refresh_docker () {
   Program.IO.invoke('reactor.compute.docker.local.images.list', []).then(
      function (res) {
         var ratio = (res.length / 128) * 100.0;

         $('#docker_image_list').find('.stats-number').text(res.length);
         $('#docker_image_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_image_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker images :", err);
      }
   );

   Program.IO.invoke('reactor.compute.docker.local.containers.list', []).then(
      function (res) {
         var ratio = (res.length / 32) * 100.0;

         $('#docker_container_list').find('.stats-number').text(res.length);
         $('#docker_container_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_container_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker containers :", err);
      }
   );

   Program.IO.invoke('reactor.compute.docker.local.volumes.list', []).then(
      function (res) {
         var ratio = (res.length / 50) * 100.0;

         $('#docker_volume_list').find('.stats-number').text(res.length);
         $('#docker_volume_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_volume_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker volumes :", err);
      }
   );

   Program.IO.invoke('reactor.compute.docker.local.networks.list', []).then(
      function (res) {
         var ratio = (res.length / 16) * 100.0;

         $('#docker_network_list').find('.stats-number').text(res.length);
         $('#docker_network_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_network_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker networks :", err);
      }
   );
}

var timer;

Program.main = function () {
    refresh_docker();

    timer = setInterval(refresh_docker, 10000);
};
	    </script>
{% endblock %}

