#main {
  margin-top: 50px;
}

.frame {
  position: relative;  
}

.frame a {
  display: block;
  position: absolute;
  border: solid 2px #fff;
  border-radius: 50%;
}

.frame a:hover {
  background: rgba(0,0,0,0.5);
}

dt.connect {
    color: green;
}

dt.disconnect {
    color: red;
}

.vis-graph {
    display: block;
    min-width: 450px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

