{% extends 'layouts/tool.html' %}

{% block page_title %}
Search Engine
<small>header small text goes here...</small>
{% endblock %}

{% block before_form %}
{% endblock %}

{% block render_form %}
{% endblock %}

{% block after_form %}
{% endblock %}

{% block render_result %}
{% endblock %}

{% block examples %}
{% endblock %}

{% block help_form %}
{% endblock %}

{% block app_modules %}
{% endblock %}

{% block app_program %}
	    <script>
$(document).ready(function() {
	// MapVector.init();
});

Program.main = function (details) {
    var t1, t2;

    t1 = setInterval(function () {
       Program.IO.invoke('reactor.logging', ['frontend', 'debug', 'Hello from JavaScript (browser)']);
    }, 1000);

    var x = 0;

    t2 = setInterval(function () {
       Program.IO.invoke('reactor.execute', ['who']).then(
          function (res) {
             console.log("Users online :", res);
          },
          function (err) {
             console.log("Error running command 'who' :", err);
          }
       );

       x += 3;
    }, 1000);
};
	    </script>
{% endblock %}

