{% extends 'base.html' %}

{% block page_breadcrumb %}
				    <li><a href="javascript:;">Home</a></li>
				    <li class="active">Timeline</li>
{% endblock %}

{% block page_container %}
			<!-- begin timeline -->
			<ul class="timeline">
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">today</span>
			            <span class="time">04:20</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-paper-plane"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-1.jpg" alt="" /></span>
			                <span class="username"><a href="javascript:;">John Smith</a> <small></small></span>
			                <span class="pull-right text-muted">18 Views</span>
			            </div>
			            <div class="timeline-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
                                Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                            </p>
			            </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">yesterday</span>
			            <span class="time">20:17</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-map-marker"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-2.jpg" alt="" /></span>
			                <span class="username">Darren Parrase</span>
			                <span class="pull-right text-muted">82 Views</span>
			            </div>
			            <div class="timeline-content">
                            <p>Location: United Sate</p>
                            <div id="google-map" class="height-sm m-b-10"></div>
                        </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">24 February 2014</span>
			            <span class="time">08:17</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-edit"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-6.jpg" alt="" /></span>
			                <span class="username">Richard Leong</span>
			                <span class="pull-right text-muted">1,282 Views</span>
			            </div>
			            <div class="timeline-content">
                            <p class="lead">
                                <i class="fa fa-quote-left fa-fw pull-left"></i>
                                Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna. Suspendisse mollis in sem vel mollis.
                                <i class="fa fa-quote-right fa-fw pull-right"></i>
                            </p>
                        </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-time -->
			        <div class="timeline-time">
			            <span class="date">10 January 2014</span>
			            <span class="time">20:43</span>
			        </div>
			        <!-- end timeline-time -->
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-camera"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            <div class="timeline-header">
			                <span class="userimage"><img src="assets/img/user-7.jpg" alt="" /></span>
			                <span class="username">Lelouch Wong</span>
			                <span class="pull-right text-muted">1,021,282 Views</span>
			            </div>
			            <div class="timeline-content">
			                <h4 class="template-title">
			                    <i class="fa fa-map-marker text-danger fa-fw"></i>
			                    795 Folsom Ave, Suite 600 San Francisco, CA 94107
			                </h4>
			                <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
                            <p class="m-t-20">
                                <img src="assets/img/gallery/gallery-4.jpg" alt="" />
                            </p>
                        </div>
			            <div class="timeline-footer">
			                <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			                <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			            </div>
			        </div>
			        <!-- end timeline-body -->
			    </li>
			    <li>
			        <!-- begin timeline-icon -->
			        <div class="timeline-icon">
			            <a href="javascript:;"><i class="fa fa-spinner"></i></a>
			        </div>
			        <!-- end timeline-icon -->
			        <!-- begin timeline-body -->
			        <div class="timeline-body">
			            Loading...
			        </div>
			        <!-- begin timeline-body -->
			    </li>
			</ul>
			<!-- end timeline -->
{% endblock %}

{% block app_modules %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	<script src="assets/js/timeline.demo.min.js"></script>
{% endblock %}

{% block app_program %}
	<script>
		$(document).ready(function() {
			App.init();
			Timeline.init();
		});
	</script>
{% endblock %}

