{% extends 'base.html' %}

{% block before %}
{% block before_form %}
{% for stat in stats %}
    <div class="col-md-3 col-sm-6">
        <div id="stats-{{ stat.id }}" class="widget widget-stats bg-{{ stat.color }}">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-{{ stat.icon }} fa-fw"></i></div>
            <div class="stats-title">{{ stat.label }}</div>
            <div class="stats-number">{{ stat.value|human_number }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: {{ stat.value|percent(stat.total) }};"></div>
            </div>
{% if stat.excerpt %}
            <div class="stats-desc">{{ stat.excerpt }}</div>
{% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block render_form %}
<table>
{% if form %}
{{ form.as_table }}
{% endif %}
</table>
{% endblock %}
{% block after_form %}
{% endblock %}
{% endblock %}

{% block container %}
{% if result %}
{% block examples %}{% endblock %}
{% else %}
{% block render_result %}{% endblock %}
{% endif %}
{% endblock %}

{% block after %}
{% block help_form %}{% endblock %}
{% endblock %}

