{% extends 'layouts/blank.html' %}

{% block title %}
Crawler
<small>where we crawl the web ...</small>
{% endblock %}

{% block container %}
    <div class="col-md-3">
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Parameters</h4>
            </div>
            <div class="panel-body">
                <form id="crawler" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Start URL :</label>
                        <div class="col-md-9">
                            <input type="text" id="start_url" class="form-control" placeholder="Enter URL here ..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Spider</label>
                        <div class="col-md-9">
                            <select id="spider" class="form-control">
                                <option value="generic">Generic Spider</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Options</label>
                        <div class="col-md-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" />
                                Checkbox Label 1
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <button class="btn btn-send btn-sm btn-success">Process</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{ empty_dict|widget('viewer/form','web_param',title="Parameters",form=frm_crawl) }}
        <hr/>
        <ul id="web_links">
        </ul>
    </div>
    <div class="col-md-9">
        {{ empty_graph|widget('viewer/graph','web_graph',title="Results",topo='default') }}
    </div>
{% endblock %}

{% block program %}
	    <script>
var allLinks = {};

Program.ensure = {
    node: function (url) {
        if (!(allLinks[url]!=null)) {
            allLinks[url] = Program.widgets['web_graph'].data.nodes.length+1;

            Program.widgets['web_graph'].data.nodes.add({
                id: allLinks[url],
                label: url,
                group: 'url',
            });

            resp  = '<li data-id="'+allLinks[url]+'">';
            resp += '<a target="_blank" href="'+url+'">'+url+'</a>';
            resp += '</li>';

            $('#web_links').append(resp)
        }

        return allLinks[url];
    },
    edge: function (source,target) {
        Program.widgets['web_graph'].data.edges.add({
            from: Program.ensure.node(source),
            to:   Program.ensure.node(target),
        });
    },
};

Program.topics = {
    'reactor.perso.crawler.process': function (args) {
        console.log('reactor.perso.crawler.process', args[0]);

        Program.ensure.node(args[0]);
    },
    'reactor.perso.crawler.referer': function (args) {
        console.log('reactor.perso.crawler.referer', args);

        Program.ensure.edge(args[0], args[1]);
    },
    'reactor.perso.walker.visited': function (args) {
        console.log('reactor.perso.walker.visited', args);

        Program.ensure.edge(args[0], args[1]);
    },
};

Program.main = function (details) {
    $('form#crawler .btn-send').on('click', function (ev) {
        var query = {
            spider:  $('select#spider').val(),
            starter: $('input#start_url').val(),
        };

        Program.IO.invoke('reactor.perso.crawler', [query.spider, query.starter]).then(
            function (res) {
                console.log("Started crawling :", res);
            },
            function (err) {
                console.log("Error trying to crawl :", err);
            }
        );

        ev.preventDefault();

        return false;
    });
};
	    </script>
{% endblock %}

{% block styles %}
	    <style>
#web_links {
    width: 100%;
    height: 200px;
}
#web_graph {
    width: 100%;
    height: 400px;
}
	    </style>
{% endblock %}

