{% extends 'layouts/dashboard.html' %}

{% block page_title %}
Search Engine
<small>where we search the web ...</small>
{% endblock %}

{% block page_content %}
	    <div class="col-md-4">
            <ul id="web_links">
            </ul>
        </div>
	    <div class="col-md-8">
            <div id="web_graph"></div>
	    </div>
{% endblock %}

{% block after_widgets %}

{% endblock %}

{% block app_program %}
	    <script>
$(document).ready(function() {
	//MapVector.init();
});

Program.main = function (details) {
    Program.IO.subscribe('reactor.execute', function (args) {
        
    });

    Program.IO.invoke('reactor.execute', ['who']).then(
        function (res) {
            console.log("Users online :", res);
        },
        function (err) {
            console.log("Error running command 'who' :", err);
        }
    );
};
	    </script>
{% endblock %}

{% block before_widgets %}
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-green">
		    <div class="stats-icon"><i class="fa fa-sitemap"></i></div>
		    <div class="stats-info">
			    <h4>CKAN Hub</h4>
			    <p>{{ opendata.ckan.hub|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-blue">
		    <div class="stats-icon"><i class="fa fa-archive"></i></div>
		    <div class="stats-info">
			    <h4>CKAN DataSets</h4>
			    <p>{{ opendata.ckan.dataset|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-red">
		    <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
		    <div class="stats-info">
			    <h4>CKAN Resources</h4>
			    <p>{{ opendata.ckan.resource|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
{% endblock %}

