{% extends 'blocks/base.html' %}

{% block buttons %}
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
{% endblock %}

{% block alerts %}
{% endblock %}

{% block content %}
    <form id="crawler" class="form-horizontal form-django">
{% for field in config.form %}
        <div class="form-group">
            <label class="col-md-3 control-label">{{ field.label }}</label>
            <div class="col-md-9">
{{ field|form_field(class='form-control') }}
            </div>
        </div>
{% endfor %}
        <div class="form-group">
            <div class="col-md-9">
                {% csrf_token %}
                <button role="submit" class="btn btn-send btn-sm btn-success">Process</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block code %}
    <script type="text/javascript">
Program.UI.callbacks.push(function () {

});
    </script>
{% endblock %}

