{% extends 'blocks/base.html' %}

{% block buttons %}
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
{% endblock %}

{% block alert_s %}
    <div class="alert alert-info">
        <i class="fa fa-info-circle fa-fw"></i> All the opened & selected nodes will be saved in the user's browser.
    </div>
{% endblock %}

{% block content %}
    <div id="{{ alias }}" class="vis-graph"></div>
{% endblock %}

{% block code %}
    <script type="text/javascript">
{% autoescape off %}
Program.UI.callbacks.push(function () {
    Program.UI.widgets['{{ alias }}'] = {
        style: Graph.topologies[{{ config.topo|json }}],
        data: {
            nodes: new vis.DataSet({{ data.nodes|json }}),
            edges: new vis.DataSet({{ data.edges|json }}),
        },
    };

    Program.UI.widgets['{{ alias }}'].graph = Program.UI.graph(
        '{{ alias }}',
        Program.UI.widgets['{{ alias }}'].data,
        Program.UI.widgets['{{ alias }}'].style || {{ config.topo|json }}
    ); 

    console.log("\t#] Created widget '{{ alias }}' : ", Program.UI.widgets['{{ alias }}']);
});
{% endautoescape %}
    </script>
{% endblock %}

