    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li><a href="//{{ subdn.domain }}/namespaces/">Ontologies</a></li>
    <li><a href="//{{ subdn.domain }}/ontologies/">Ontologies</a></li>
    <li><a href="//{{ subdn.domain }}/search">Elastic Search</a></li>
    <li><a href="//{{ subdn.domain }}/sparql">SparQL endpoint</a></li>

