{% extends 'base.html' %}

{% block body %}
        <div class="login bg-black animated fadeInDown">
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> Uchikoma :: Satellite
                    <small>Where everything converges with everyone in everywhere's momentum.</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <div class="login-content">
                <form method="POST" class="margin-bottom-0">
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control input-lg" name="username" placeholder="Email Address" />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" class="form-control input-lg" name="password" placeholder="Password" />
                    </div>
                    <div class="checkbox m-b-20">
                        <label>
                            <input type="checkbox" name="remember_me" /> Remember Me
                            {{ csrf_token }}
                        </label>
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block app_styles %}
{% endblock %}

{% block app_scripts %}
{% endblock %}

{% block app_modules %}
{% endblock %}

