{% extends 'base.html' %}

{% block body %}
        <div class="error">
            <div class="error-code m-b-10">404 <i class="fa fa-warning"></i></div>
            <div class="error-content">
                <div class="error-message">We couldn't find it...</div>
                <div class="error-desc m-b-20">
                    The page you're looking for doesn't exist. <br />
                    Perhaps, there pages will help find what you're looking for.
                </div>
                <ul>
                    <li><span class="label">Domain :</span><span class="label label-danger">{{ page.domain }}</span></li>
                    <li><span class="label">Sub-domain :</span><span class="label label-warning">{{ page.subdomain }}</span></li>
                    <li><span class="label">URLconf :</span><span class="label label-success">{{ page.urlconf }}</span></li>
                </ul>
                <div>
                    <a href="//connect.uchikoma.xyz" class="btn btn-success">Connect Back to Uchikoma</a>
                </div>
            </div>
        </div>
{% endblock %}

{% block app_styles %}
{% endblock %}

{% block app_scripts %}
{% endblock %}

{% block app_modules %}
{% endblock %}

