{% extends 'layouts/blank.html' %}

{% block title %}
Crawler
<small>where we crawl the web ...</small>
{% endblock %}

{% block container %}
    <div class="col-md-12">
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Network Graph</h4>
            </div>
            <div class="panel-body">
                <div id="web_graph"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block program %}
	    <style>
#web_links {
    width: 100%;
    height: 200px;
}
#web_graph {
    width: 100%;
    height: 200px;
}
	    </style>
	    <script>
var Graph = {
    network: null,
    options: {
        nodes: {
            shape: 'dot',
            size: 20,
            font: {
                size: 15,
                color: '#ffffff'
            },
            borderWidth: 2
        },
        edges: {
            width: 2
        },
        groups: {
            url: {
                color: {background:'red',border:'white'},
                shape: 'diamond'
            },
            dotsWithLabel: {
                label: "I'm a dot!",
                shape: 'dot',
                color: 'cyan'
            },
            mints: {color:'rgb(0,255,140)'},
            icons: {
                shape: 'icon',
                icon: {
                    face: 'FontAwesome',
                    code: '\uf0c0',
                    size: 50,
                    color: 'orange'
                }
            },
            source: {
                color:{border:'white'}
            }
        }
    },
    payload: {
        nodes: new vis.DataSet(),
        edges: new vis.DataSet(),
    },
    hosts: {},
    ensure: {
        node: function (url) {
            if (!(Graph.hosts[url]!=null)) {
                Graph.hosts[url] = Graph.payload.nodes.length+1;

                Graph.payload.nodes.add({
                    id: Graph.hosts[url],
                    label: url,
                    group: 'host',
                });
            }

            return Graph.hosts[url];
        },
        edge: function (source,target) {
            Graph.payload.edges.add({
                from: Graph.ensure.node(source),
                to:   Graph.ensure.node(target),
            });

        },
    },
};

$(document).ready(function() {
    Graph.network = Program.UI.graph('web_graph', Graph.payload, Graph.options);

    setInterval(function () {
        var query = {
            iface: 'wlxc46e1f1f041c', // $('select#interface').val(),
        };

        Program.IO.invoke('reactor.net.realtime.list', [query.iface]).then(
            function (res) {
                console.log("Started crawling :", res);
            },
            function (err) {
                console.log("Error trying to crawl :", err);
            }
        );
    }, 5000);
});

Program.main = function (details) {
    Program.IO.subscribe('reactor.net.realtime.host', function (args) {
        Graph.ensure.edge(args[0], args[0]);
    });

    Program.IO.subscribe('reactor.net.realtime.conn', function (args) {
        Graph.ensure.edge(args[0], args[0]);
    });
};
	    </script>
{% endblock %}

