{% extends 'layouts/blank.html' %}

{% block title %}
Docker
<small>where we contain everything...</small>
{% endblock %}

{% block content %}

{% endblock %}

{% block after %}
    <div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-3">
            <div class="panel-heading">
                <h4 class="panel-title">Today's Schedule</h4>
            </div>
            <div id="schedule-calendar" class="bootstrap-calendar"></div>
            <div class="list-group">
                <a href="#" class="list-group-item text-ellipsis">
                    <span class="badge badge-success">9:00 am</span> Sales Reporting
                </a> 
                <a href="#" class="list-group-item text-ellipsis">
                    <span class="badge badge-primary">2:45 pm</span> Have a meeting with sales team
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block program %}
	    <script type="text/javascript">
function refresh_docker () {
   Program.IO.invoke('reactor.compute.docker.local.images.list', []).then(
      function (res) {
         var ratio = (res.length / 128) * 100.0;

         $('#docker_image_list').find('.stats-number').text(res.length);
         $('#docker_image_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_image_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker images :", err);
      }
   );

   Program.IO.invoke('reactor.compute.docker.local.containers.list', []).then(
      function (res) {
         var ratio = (res.length / 32) * 100.0;

         $('#docker_container_list').find('.stats-number').text(res.length);
         $('#docker_container_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_container_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker containers :", err);
      }
   );

   Program.IO.invoke('reactor.compute.docker.local.volumes.list', []).then(
      function (res) {
         var ratio = (res.length / 50) * 100.0;

         $('#docker_volume_list').find('.stats-number').text(res.length);
         $('#docker_volume_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_volume_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker volumes :", err);
      }
   );

   Program.IO.invoke('reactor.compute.docker.local.networks.list', []).then(
      function (res) {
         var ratio = (res.length / 16) * 100.0;

         $('#docker_network_list').find('.stats-number').text(res.length);
         $('#docker_network_list').find('.progress-bar').css('width', ratio+'%');
         $('#docker_network_list').find('.stats-desc').text("");
      },
      function (err) {
         console.log("Error updating docker networks :", err);
      }
   );
}

var timer;

Program.main = function () {
    refresh_docker();

    timer = setInterval(refresh_docker, 10000);
};
	    </script>
{% endblock %}

