{% load staticfiles %}{% load reactor %}<li>
    <form class="navbar-form full-width">
	    <div class="form-group">
		    <input type="text" class="form-control" placeholder="Enter keyword" />
		    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
	    </div>
    </form>
</li>
<li class="dropdown">
    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
	    <i class="fa fa-bell-o"></i>
	    <span class="label">5</span>
    </a>
    <ul class="dropdown-menu media-list pull-right animated fadeInDown">
        <li class="dropdown-header">Notifications ({{ identity.notifications|length }})</li>
{% for notify in identity.notifications %}
        <li class="media">
            <a href="javascript:;">
                <div class="media-left">
{% if notify.image %}
                    <img src="{% static notify.image %}" class="media-object" alt="" />
{% else %}
                    <i class="fa fa-{{ notify.icon }} media-object bg-red"></i>
{% endif %}
                </div>
                <div class="media-body">
                    <h6 class="media-heading">{{ notify.title }}</h6>
                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                    <div class="text-muted f-s-11">{{ notify.when|since }}</div>
                </div>
            </a>
        </li>
{% endfor %}
        <li class="dropdown-footer text-center">
            <a href="/notifications">View more</a>
        </li>
    </ul>
</li>
<li class="dropdown navbar-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
	    <img src="{% static identity.mugshot %}" alt="" /> 
	    <span class="hidden-xs">{{ identity.full_name }}</span> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu animated fadeInLeft">
	    <li class="arrow"></li>
	    <li><a href="//connect.uchikoma.xyz/profile">Edit Profile</a></li>
	    <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
	    <li><a href="//connect.uchikoma.xyz/agenda">Calendar</a></li>
	    <li><a href="//connect.uchikoma.xyz/settings">Setting</a></li>
	    <li class="divider"></li>
	    <li><a href="//connect.uchikoma.xyz/logout">Log Out</a></li>
    </ul>
</li>

