{% load staticfiles %}{% load reactor %}<div data-scrollbar="true" data-height="100%">
    <ul class="nav">
	    <li class="nav-profile">
		    <div class="image">
			    <a href="javascript:;"><img src="{% static identity.mugshot %}" alt="" /></a>
		    </div>
		    <div class="info">
			    {{ identity.full_name }}
			    <small>{{ identity.full_title }}</small>
		    </div>
	    </li>
    </ul>
    <ul class="nav">
{% for collection in page.menus %}
{% for section,listing in collection.iteritems %}
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-{{ section|fa_icon }}"></i>
		        <span>{{ section|capitalize }}</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in listing %}
                <li><a href="/{{ section }}/{{ entry }}.html"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
{% endfor %}
{% endfor %}
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-th"></i>
		        <span>Layouts</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in catalog.grid.layouts %}
                <li><a href="/layout/{{ entry }}.html"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-th-large"></i>
		        <span>Widgets</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in catalog.grid.widgets %}
                <li><a href="/widget/{{ entry }}.html"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-flag-o"></i>
		        <span>Theme</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in catalog.grid.skin %}
                <li><a href="/theme/{{ entry }}.html"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
	    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    </ul>
</div>

