    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li><a href="//{{ subdn.domain }}/profile">Profile</a></li>
    <li><a href="//{{ subdn.domain }}/settings">Settings</a></li>
    <li><a href="//{{ subdn.domain }}/accounts">Accounts</a></li>
    <li><a href="//{{ subdn.domain }}/networks">Networks</a></li>
    <li><a href="//{{ subdn.domain }}/people">People</a></li>

