<li class="dropdown navbar-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">Status</span> <b class="caret"></b></a>
    <ul class="dropdown-menu animated fadeInLeft">
	    <li><a href="/status/contain">Contain</a></li>
	    <li><a href="/status/monitor">Monitor</a></li>
	    <li><a href="/status/streams">Streams</a></li>
    </ul>
</li>
<li class="dropdown navbar-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">Tools</span> <b class="caret"></b></a>
    <ul class="dropdown-menu animated fadeInLeft">
	    <li><a href="/tools/crawler">Crawling</a></li>
	    <li><a href="/tools/explorer">File Explorer</a></li>
	    <li><a href="/tools/records">Data Records</a></li>
	    <li><a href="/tools/semantic">Semantics</a></li>
    </ul>
</li>
<li>
    <form class="navbar-form full-width" method="GET" action="/search/web">
	    <div class="form-group">
		    <input type="text" class="form-control" placeholder="Enter keyword" />
		    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
	    </div>
    </form>
</li>
<li class="dropdown">
    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
	    <i class="fa fa-bell-o"></i>
	    <span class="label">{{ identity.notifications|length }}</span>
    </a>
    <ul class="dropdown-menu media-list pull-right animated fadeInDown">
        <li class="dropdown-header">Notifications ({{ identity.notifications|length }})</li>
{% for notify in identity.notifications %}
        <li class="media">
            <a href="javascript:;">
                <div class="media-left">
{% if notify.image %}
                    <img src="/static/{{ notify.image }}" class="media-object" alt="" />
{% else %}
                    <i class="fa fa-{{ notify.icon }} media-object bg-red"></i>
{% endif %}
                </div>
                <div class="media-body">
                    <h6 class="media-heading">{{ notify.title }}</h6>
                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                    <div class="text-muted f-s-11">{{ notify.when|since }}</div>
                </div>
            </a>
        </li>
{% endfor %}
        <li class="dropdown-footer text-center">
            <a href="/notifications">View more</a>
        </li>
    </ul>
</li>
<li class="dropdown navbar-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
	    <span class="hidden-xs">{{ identity.full_name }}</span> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu animated fadeInLeft">
	    <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
	    <li class="arrow"></li>
	    <li><a href="/agenda">Calendar</a></li>
	    <li class="divider"></li>
	    <li><a href="/auth/profile">Profile</a></li>
	    <li><a href="/auth/settings">Setting</a></li>
	    <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</li>

