<div data-scrollbar="true" data-height="100%">
    <ul class="nav">
	    <li class="nav-profile">
		    <div class="image">
			    <a href="javascript:;"><img src="/static/{{ identity.mugshot }}" alt="" /></a>
		    </div>
		    <div class="info">
			    {{ identity.full_name }}
			    <small>{{ identity.full_title }}</small>
		    </div>
	    </li>
    </ul>
    <ul class="nav">
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-signal"></i>
		        <span>Status</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in catalog.pages.status %}
                <li><a href="/status/{{ entry }}"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-wrench"></i>
		        <span>Tools</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in catalog.pages.tools %}
                <li><a href="/tools/{{ entry }}"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-globe"></i>
		        <span>Pages</span>
	        </a>
		    <ul class="sub-menu">
{% for entry in catalog.pages.simple %}
                <li><a href="/pages/{{ entry }}.html"><i class="fa fa-{{ entry|fa_icon }}"></i> {{ entry|capitalize }}</a></li>
{% endfor %}
		    </ul>
	    </li>
	    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    </ul>
</div>

