{% load staticfiles %}{% load reactor %}<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
	    <meta charset="utf-8" />
	    <title>Uchikoma | Satellite</title>
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	    <meta content="" name="description" />
	    <meta content="" name="author" />
	    <!-- ================== BEGIN BASE CSS STYLE ================== -->
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	    <link href="{% static 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme" />
	    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
{% block app_styles %}
{% endblock %}
        <link href="{% static 'plugins/jstree/dist/themes/default/style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/morris/morris.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/bootstrap-calendar/css/bootstrap_calendar.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
      	<link href="{% static 'plugins/isotope/isotope.css' %}" rel="stylesheet" />
      	<link href="{% static 'plugins/lightbox/css/lightbox.css' %}" rel="stylesheet" />
      	<link href="{% static 'plugins/vis.js/vis-network.min.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/vis.js/vis-timeline-graph2d.min.css' %}" rel="stylesheet" />
	    <!-- ================== BEGIN BASE JS ================== -->
	    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
        <script src="{% static 'plugins/autobahn.min.js' %}"></script>
	    <script src="{% static 'js/moment.min.js' %}"></script>
	    <script>
var Config = {
    endpoint: {
        url: 'ws://{{ wamp.hostname }}/sockets',
        realm: 'reactor',

        authmethods: ["ticket"],
        authid:      "{{ wamp.auth_id }}",
        onchallenge: function (session, method, extra) {
            if (session!=null) {
                Program.IO.sess = session;
            } else {
                console.log("onchallenge", method, extra);
            }

            if (method === "ticket") {
               return "{{ wamp.auth_token }}";
            } else {
               throw "don't know how to authenticate using '" + method + "'";
            }
        },
    },
};
        </script>
    </head>
    <body>
	    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
	    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
{% block body %}
		    <div id="header" class="header navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
				    <div class="navbar-header">
					    <a href="/" class="navbar-brand"><span class="navbar-logo"></span> {{ page.section }}</a>
					    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </button>
				    </div>
				    <ul class="nav navbar-nav navbar-right">
{% include 'inc/navbar.html' %}
				    </ul>
			    </div>
		    </div>
		    <div id="sidebar" class="sidebar">
{% include 'inc/sidebar.html' %}
		    </div>
		    <div class="sidebar-bg"></div>
		    <div id="content" class="content">
{% block page_heading %}
			    <ol class="breadcrumb pull-right">
{% block page_breadcrumb %}
				    <li><a href="javascript:;">Home</a></li>
				    <li class="active">Dashboard</li>
{% endblock %}
			    </ol>
			    <h1 class="page-header">
{% block page_title %}
                    Dashboard <small>header small text goes here...</small>
{% endblock %}
                </h1>
{% endblock %}
{% block page_container %}
			    <div class="row">
{% block page_content %}{% endblock %}
		        </div>
{% endblock %}
		    </div>
{% endblock %}
            <div class="theme-panel">
                <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
                <div class="theme-panel-content">
{% include 'inc/panel.html' %}
                </div>
            </div>
		    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
	    </div>
	    <script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	    <!--[if lt IE 9]>
		    <script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
		    <script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
		    <script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
	    <![endif]-->
	    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
{% block app_plugins %}
	    <script src="{% static 'plugins/gritter/js/jquery.gritter.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.time.min.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.resize.min.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
	    <script src="{% static 'plugins/sparkline/jquery.sparkline.js' %}"></script>
        <script src="{% static 'plugins/morris/raphael.min.js' %}"></script>
        <script src="{% static 'plugins/morris/morris.js' %}"></script>
	    <script src="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js' %}"></script>
	    <script src="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	    <script src="{% static 'plugins/bootstrap-calendar/js/bootstrap_calendar.min.js' %}"></script>
	    <script src="{% static 'plugins/fullcalendar/fullcalendar/fullcalendar.js' %}"></script>
	    <script src="{% static 'plugins/isotope/jquery.isotope.min.js' %}"></script>
      	<script src="{% static 'plugins/lightbox/js/lightbox-2.6.min.js' %}"></script>
	    <script src="{% static 'plugins/jstree/dist/jstree.min.js' %}"></script>
	    <script src="{% static 'plugins/vis.js/vis.min.js' %}"></script>
{% endblock %}
{% block app_scripts %}
{% endblock %}
{% block app_modules %}
	    <script src="{% static 'js/dashboard.min.js' %}"></script>
{% endblock %}
	    <script src="{% static 'js/apps.min.js' %}"></script>
{% block app_codes %}
	    <script src="{% static 'kernel.js' %}"></script>
{% block app_program %}
	    <script>
$(document).ready(function() {
    Dashboard.init();
});

Program.main = function (details) {
    var t1, t2;

    t1 = setInterval(function () {
       Program.IO.invoke('reactor.logging', ['frontend', 'debug', 'Hello from JavaScript (browser)']);
    }, 1000);

    var x = 0;

    t2 = setInterval(function () {
       Program.IO.invoke('reactor.execute', ['who']).then(
          function (res) {
             console.log("Users online :", res);
          },
          function (err) {
             console.log("Error running command 'who' :", err);
          }
       );

       x += 3;
    }, 1000);
};
	    </script>
{% endblock %}
	    <script src="{% static 'program.js' %}"></script>
{% endblock %}
{% block app_integration %}
        <script>
        </script>
{% endblock %}
    </body>
</html>

