{% extends 'layouts/tool.html' %}

{% block title %}
Search Engine
<small>where we search for people ...</small>
{% endblock %}

{% block render_form %}{% include views.form %}{% endblock %}
{% block after_form %}{% include views.side %}{% endblock %}
{% block render_result %}{% include views.show %}{% endblock %}
{% block help_form %}{% include views.help %}{% endblock %}

{% block codes %}
{% endblock %}

{% block program %}
	    <script>
Program.main = function (details) {
    //Graph.network = Program.UI.graph('content', Graph.payload, Graph.options);

    $('button[data-click="panel-reload"]').on('click', populate);
};

function populate (ev) {
    var query = {
        identity:  $('select#identity').val() || '',
    };

    if (query.identity.length==0) {
        query.identity = '{{ request.user.username }}';
    }

    Program.IO.invoke('reactor.perso.social.agora', [query.identity]).then(
        function (res) {
            Program.UI.notify({
                title:      "Started crawling ...",
                content:    res,
                sticky:     false,
                time:       '8s',
                class_name: 'prize',
            });
            console.log("Started crawling :", res);
        },
        function (err) {
            Program.UI.notify({
                title:      "Error trying to crawl !",
                content:    err,
                sticky:     false,
                time:       '8s',
                class_name: 'bug',
            });
            console.log("Error crawling :", err);
        }
    );

    if (ev!=null) {
        ev.preventDefault();

        return false;
    }
}

Program.ensure = {
    uuid: {},
    node: function (network,profile,depth) {
        var uid = Program.ensure.uuid[profile.id];

        if (!(uid)) {
            Program.ensure.uuid[profile.id] = Program.ensure.uuid.length;

            Program.UI.widgets['web_graph'].data.nodes.add({
                id: uid,
                label: profile.name,
                group: depth,
                //group: network,
            });

            /*
            resp  = '<li data-id="'+allLinks[url]+'">';
            resp += '<a target="_blank" href="'+url+'">'+url+'</a>';
            resp += '</li>';

            $('#web_links').append(resp)
            //*/
        }

        return uid;
    },
    edge: function (network,source,target,depth) {
        Program.UI.widgets['web_graph'].data.edges.add({
            from: Program.ensure.node(network,source,depth),
            to:   Program.ensure.node(network,target,depth),
        });
    },
};

Program.topics = {
    'reactor.perso.social.person': function (args) {
        /*
        console.log('reactor.perso.social.person', args[0], args[1]);

        args[1].network = args[0];

        Program.ensure.node(args[0], args[1]);
        //*/
    },
    'reactor.perso.social.knows': function (args) {
        console.log('reactor.perso.social.knows', args);

        Program.ensure.edge(args[0], args[1], args[2], args[3]);
    },
};
	    </script>
{% endblock %}

{% block styles %}
	    <style type="text/css">
#web_graph {
    padding: 0px;
    width: 100%;
    height: 420px;
}
	    </style>
{% endblock %}

