<ul class="media-list media-list-with-divider">
    <li class="media media-sm">
	    <a href="javascript:;" class="pull-left">
		    <img src="{{ 'img/user-1.jpg'|static }}" alt="" class="media-object rounded-corner" />
	    </a>
	    <div class="media-body">
		    <a href="javascript:;"><h4 class="media-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4></a>
		    <p class="m-b-5">
			    Aenean mollis arcu sed turpis accumsan dignissim. Etiam vel tortor at risus tristique convallis. Donec adipiscing euismod arcu id euismod. Suspendisse potenti. Aliquam lacinia sapien ac urna placerat, eu interdum mauris viverra.
		    </p>
		    <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
	    </div>
    </li>
    <li class="media media-sm">
	    <a href="javascript:;" class="pull-left">
		    <img src="{{ 'img/user-2.jpg'|static }}" alt="" class="media-object rounded-corner" />
	    </a>
	    <div class="media-body">
		    <a href="javascript:;"><h4 class="media-heading">Praesent et sem porta leo tempus tincidunt eleifend et arcu.</h4></a>
		    <p class="m-b-5">
			    Proin adipiscing dui nulla. Duis pharetra vel sem ac adipiscing. Vestibulum ut porta leo. Pellentesque orci neque, tempor ornare purus nec, fringilla venenatis elit. Duis at est non nisl dapibus lacinia.
		    </p>
		    <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
	    </div>
    </li>
    <li class="media media-sm">
	    <a href="javascript:;" class="pull-left">
		    <img src="{{ 'img/user-3.jpg'|static }}" alt="" class="media-object rounded-corner" />
	    </a>
	    <div class="media-body">
		    <a href="javascript:;"><h4 class="media-heading">Ut mi eros, varius nec mi vel, consectetur convallis diam.</h4></a>
		    <p class="m-b-5">
			    Ut mi eros, varius nec mi vel, consectetur convallis diam. Nullam eget hendrerit eros. Duis lacinia condimentum justo at ultrices. Phasellus sapien arcu, fringilla eu pulvinar id, mattis quis mauris.
		    </p>
		    <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
	    </div>
    </li>
    <li class="media media-sm">
	    <a href="javascript:;" class="pull-left">
		    <img src="{{ 'img/user-4.jpg'|static }}" alt="" class="media-object rounded-corner" />
	    </a>
	    <div class="media-body">
		    <a href="javascript:;"><h4 class="media-heading">Aliquam nec dolor vel nisl dictum ullamcorper.</h4></a>
		    <p class="m-b-5">
			    Aliquam nec dolor vel nisl dictum ullamcorper. Duis vel magna enim. Aenean volutpat a dui vitae pulvinar. Nullam ligula mauris, dictum eu ullamcorper quis, lacinia nec mauris.
		    </p>
		    <i class="text-muted">Received on 04/16/2013, 12.39pm</i>
	    </div>
    </li>
</ul>

