<table class="table">
    <thead>
	    <tr>
		    <th>Date</th>
		    <th class="hidden-sm">Product</th>
		    <th>Amount</th>
		    <th>User</th>
	    </tr>
    </thead>
    <tbody>
	    <tr>
		    <td>13/02/2013</td>
		    <td class="hidden-sm">
			    <a href="javascript:;">
				    <img src="{{ 'img/product/product-1.png' }}" alt=""  />
			    </a>
		    </td>
		    <td>
			    <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
		    </td>
		    <td>$349.00</td>
		    <td><a href="javascript:;">Derick Wong</a></td>
	    </tr>
	    <tr>
		    <td>13/02/2013</td>
		    <td class="hidden-sm">
			    <a href="javascript:;">
				    <img src="{{ 'img/product/product-2.png' }}" alt="" />
			    </a>
		    </td>
		    <td>
			    <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
		    </td>
		    <td>$399.00</td>
		    <td><a href="javascript:;">Derick Wong</a></td>
	    </tr>
	    <tr>
		    <td>13/02/2013</td>
		    <td class="hidden-sm">
			    <a href="javascript:;">
				    <img src="{{ 'img/product/product-3.png' }}" alt="" />
			    </a>
		    </td>
		    <td>
			    <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
		    </td>
		    <td>$499.00</td>
		    <td><a href="javascript:;">Derick Wong</a></td>
	    </tr>
	    <tr>
		    <td>13/02/2013</td>
		    <td class="hidden-sm">
			    <a href="javascript:;">
				    <img src="{{ 'img/product/product-4.png' }}" alt="" />
			    </a>
		    </td>
		    <td>
			    <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
		    </td>
		    <td>$230.00</td>
		    <td><a href="javascript:;">Derick Wong</a></td>
	    </tr>
	    <tr>
		    <td>13/02/2013</td>
		    <td class="hidden-tablet hidden-phone">
			    <a href="javascript:;">
				    <img src="{{ 'img/product/product-5.png' }}" alt="" />
			    </a>
		    </td>
		    <td>
			    <h6><a href="javascript:;">Nunc eleifend lorem eu velit eleifend, eget faucibus nibh placerat.</a></h6>
		    </td>
		    <td>$500.00</td>
		    <td><a href="javascript:;">Derick Wong</a></td>
	    </tr>
    </tbody>
</table>

