<!doctype html>
<html>
    <head>
        <title>Uchikoma | Connector</title>
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	    <link href="/static/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	    <link href="/static/css/animate.min.css" rel="stylesheet" />
	    <link href="/static/css/style.min.css" rel="stylesheet" />
	    <link href="/static/css/style-responsive.min.css" rel="stylesheet" />
	    <link href="/static/css/theme/default.css" rel="stylesheet" id="theme" />
        <style>
h1 { padding: 0 30px; }
.col-md-2 { width: 18.6667%; }
.buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
         margin: 20px; background: #eee; padding: 30px; }
.buttons > div .btn { margin: 5px 10px; }
.buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                 padding-top: 10px; text-align: center; }
.user-details { text-align: center; font-size: 16px; font-weight: bold; }
.disconnect-form { padding: 0; margin: 0px 10px; }
.disconnect-form > a { display: block; margin: 5px 0 !important; }
        </style>
      	<link href="/static/plugins/lightbox/css/lightbox.css" rel="stylesheet" />
        <link href="/static/plugins/gridtab/gridtab.min.css" rel="stylesheet" />
        <link href="/static/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
	    <link href="/static/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	    <link href="/static/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
        <link href="/static/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
      	<link href="/static/plugins/vis.js/vis-network.min.css" rel="stylesheet" />
        <link href="/static/plugins/vis.js/vis-timeline-graph2d.min.css" rel="stylesheet" />
	    <link href="/static/css/custom.css" rel="stylesheet" id="theme" />
{% block styles %}{% endblock %}
        <script src="/static/plugins/autobahn.min.js"></script>
	    <script src="/static/js/moment.min.js"></script>
	    <script src="/static/plugins/jquery/jquery-1.9.1.min.js"></script>
	    <script src="/static/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	    <script>
var Config = {
    endpoint: {
        url: 'ws://{{ wamp.hostname }}/sockets',
        realm: 'reactor',

        authmethods: ["ticket"],
        authid:      "{{ wamp.auth_id }}",
        onchallenge: function (session, method, extra) {
            if (session!=null) {
                Program.IO.sess = session;
            } else {
                console.log("onchallenge", method, extra);
            }

            if (method === "ticket") {
               return "{{ wamp.auth_token }}";
            } else {
               throw "don't know how to authenticate using '" + method + "'";
            }
        },
    },
};
        </script>
	    <script src="/static/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
	    <script src="/static/plugins/gritter/js/jquery.gritter.js"></script>
	    <script src="/static/plugins/isotope/jquery.isotope.min.js"></script>
	    <script src="/static/kernel.js"></script>
    </head>
    <body>
	    <div id="page-container" class="page-without-sidebar  page-header-fixed">
		    <div id="header" class="header navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
				    <div class="navbar-header">
					    <a href="/" class="navbar-brand"><span class="navbar-logo"></span> {{ page.section }}</a>
					    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </button>
				    </div>
				    <ul class="nav navbar-nav navbar-right">
{% include 'inc/navbar.html' %}
				    </ul>
			    </div>
		    </div>
		    <div id="content" class="content">
{% block body %}
{% block heading %}
			    <ol class="breadcrumb pull-right">
{% block breadcrumbs %}
				    <li><a href="javascript:;">Home</a></li>
				    <li class="active">Dashboard</li>
{% endblock %}
			    </ol>
			    <h1 class="page-header">
{% block title %}
                    Dashboard <small>header small text goes here...</small>
{% endblock %}
                </h1>
{% endblock %}
                <div class="row">
{% block before %}
{% for stat in stats %}
    <div class="col-md-3 col-sm-6">
        <div id="stats-{{ stat.id }}" class="widget widget-stats bg-{{ stat.color }}">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-{{ stat.icon }} fa-fw"></i></div>
            <div class="stats-title">{{ stat.label }}</div>
            <div class="stats-number">{{ stat.value|human_number }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width: {{ stat.value|percent(stat.total) }};"></div>
            </div>
{% if stat.excerpt %}
            <div class="stats-desc">{{ stat.excerpt }}</div>
{% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block container %}
    <div class="col-md-12">
        <p>
{% block content %}{% endblock %}
        </p>
    </div>
{% endblock %}
{% block after %}{% endblock %}
{% endblock %}
	            </div>
	        </div>
	    </div>
{% block codes %}{% endblock %}
        <script src="/static/plugins/lightbox/js/lightbox-2.6.min.js"></script>
        <script src="/static/plugins/gridtab/gridtab.min.js"></script>
	    <script src="/static/plugins/jstree/dist/jstree.min.js"></script>
	    <script src="/static/plugins/vis.js/vis.min.js"></script>
	    <script src="/static/plugins/vis.js/vis-network.min.js"></script>
	    <script src="/static/generic.js"></script>
{% block program %}{% endblock %}
	    <script src="/static/program.js"></script>
{% block templates %}{% endblock %}
    </body>
</html>

