{% extends 'layouts/dashboard.html' %}

{% block page_title %}
Crawler
<small>where we crawl the web ...</small>
{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Input Types</h4>
            </div>
            <div class="panel-body">
                <form id="crawler" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Start URL :</label>
                        <div class="col-md-9">
                            <input type="text" id="start_url" class="form-control" placeholder="Enter URL here ..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Spider</label>
                        <div class="col-md-9">
                            <select id="spider" class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Options</label>
                        <div class="col-md-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" />
                                Checkbox Label 1
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-sm btn-success">Process</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <ul id="web_links">
        </ul>
    </div>
    <div class="col-md-8">
        <div id="web_graph"></div>
    </div>
{% endblock %}

{% block after_widgets %}

{% endblock %}

{% block app_program %}
	    <script>
var Graph = {
    network: null,
    options: {
        nodes: {
            shape: 'dot',
            size: 20,
            font: {
                size: 15,
                color: '#ffffff'
            },
            borderWidth: 2
        },
        edges: {
            width: 2
        },
        groups: {
            url: {
                color: {background:'red',border:'white'},
                shape: 'diamond'
            },
            dotsWithLabel: {
                label: "I'm a dot!",
                shape: 'dot',
                color: 'cyan'
            },
            mints: {color:'rgb(0,255,140)'},
            icons: {
                shape: 'icon',
                icon: {
                    face: 'FontAwesome',
                    code: '\uf0c0',
                    size: 50,
                    color: 'orange'
                }
            },
            source: {
                color:{border:'white'}
            }
        }
    },
    payload: {
        nodes: [],
        edges: [],
    },
    links: {},
    domains: {},
    ensure: {
        node: function (url) {
            if (!(Graph.links[url]!=null)) {
                Graph.links[url] = Graph.payload.nodes.length+1;

                Graph.payload.nodes.push({
                    id: Graph.links[url],
                    label: url,
                    group: 'url',
                });

                resp  = '<li data-id="'+Graph.links[url]+'">';
                resp += '<a target="_blank" href="'+url+'">'+url+'</a>';
                resp += '</li>';

                $('#web_links').append(resp)
            }

            return Graph.links[url];
        },
        edge: function (source,target) {
            Graph.payload.edges.push({
                from: Graph.ensure.node(source),
                to:   Graph.ensure.node(target),
            });

            Graph.network = Program.UI.graph('web_graph', Graph.payload, Graph.options);
        },
    },
};

$(document).ready(function() {
	//MapVector.init();
});

Program.main = function (details) {
    Program.IO.subscribe('reactor.perso.crawler.referer', function (args) {
        Graph.ensure.edge(args[0], args[0]);
    });

    Program.IO.subscribe('reactor.perso.walker.visited', function (args) {
        Graph.ensure.edge(args[0], args[0]);
    });

    $('form#crawler').on('submit', function (ev) {
        var query = {
            spider: $('select#spider').val(),
            links:  $('input#start_url').val(),
        };

        Program.IO.invoke('reactor.perso.crawler.process', [query.spider, query.links]).then(
            function (res) {
                console.log("Users online :", res);
            },
            function (err) {
                console.log("Error running command 'who' :", err);
            }
        );

        ev.preventDefaults();

        return false;
    });
};
	    </script>
{% endblock %}

{% block before_widgets %}
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-green">
		    <div class="stats-icon"><i class="fa fa-sitemap"></i></div>
		    <div class="stats-info">
			    <h4>CKAN Hub</h4>
			    <p>{{ opendata.ckan.hub|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-blue">
		    <div class="stats-icon"><i class="fa fa-archive"></i></div>
		    <div class="stats-info">
			    <h4>CKAN DataSets</h4>
			    <p>{{ opendata.ckan.dataset|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-red">
		    <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
		    <div class="stats-info">
			    <h4>CKAN Resources</h4>
			    <p>{{ opendata.ckan.resource|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
{% endblock %}

