{% extends 'base.html' %}

{% block page_breadcrumb %}
				    <li><a href="javascript:;">Home</a></li>
				    <li class="active">Dashboard</li>
{% endblock %}

{% block before_widgets %}
{% endblock %}

{% block page_content %}
    <div class="col-md-4">
{% include 'blocks/viewer/tree.html' %}
    </div>
    <div class="col-md-8">
        <div class="browser"></div>
    </div>
{% endblock %}

{% block after_widgets %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" dir="ltr">
              <li><a href="/demo/Bootstrap-Listr-2"><i class="fa fa-home fa-lg fa-fw"></i> </a></li>
              <li><a href="/demo/Bootstrap-Listr-2/Virtual%20Files/">Virtual Files</a></li>
            </ol>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-xs-offset-6 col-sm-offset-8 col-md-offset-9">
            <div class="form-group has-feedback">
                <label class="control-label sr-only" for="search">Search</label>
                <input type="text" class="form-control" id="search" placeholder="Search">
                <i class="fa fa-search form-control-feedback"></i>
             </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
              <table id="bs-table" class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-right" data-sort="int">#</th>
                    <th class="col-sm-8 text-left" data-sort="string">Name</th>
                    <th class="col-sm-2 text-right" data-sort="int">Size</th>
                    <th class="col-sm-2 text-right" data-sort="int">Modified</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <small class="pull-left text-muted" dir="ltr">5 files, 618 bytes in total</small>
                      <a class="pull-right small text-muted" href="https://github.com/idleberg/Bootstrap-Listr" title="Bootstrap Listr on GitHub" target="_blank">Fork me on GitHub</a>
                    </td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td class="text-muted text-right" data-sort-value="1">1</td>            <td class="text-left" data-sort-value="bbng.youtube"><i class="fa fa-youtube-play "></i>&nbsp;<a href="BBNG.youtube" class="virtual-modal"  data-youtube="vg0Ozh46mak" data-url="https://youtube.com/watch?v=vg0Ozh46mak" data-name="BADBADNOTGOOD - Bugg'n">BBNG.youtube</a></td>
                    <td class="text-right" data-sort-value="65" title="65 bytes">65 bytes</td>
                    <td class="text-right" data-sort-value="1460763862" title="2016-04-15 23:44:22">9 months ago</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right" data-sort-value="2">2</td>            <td class="text-left" data-sort-value="dorian concept - joined ends remix ep.soundcloud"><i class="fa fa-soundcloud "></i>&nbsp;<a href="Dorian%20Concept%20-%20Joined%20Ends%20Remix%20EP.soundcloud" class="virtual-modal"  data-soundcloud="playlists/78059916" data-url="https://soundcloud.com/ninja-tune/sets/dorian-concept-joined-ends-3" data-name="Dorian Concept - Joined Ends Remix EP">Dorian Concept - Joined Ends Remix EP.soundcloud</a></td>
                    <td class="text-right" data-sort-value="184" title="184 bytes">184 bytes</td>
                    <td class="text-right" data-sort-value="1460763862" title="2016-04-15 23:44:22">9 months ago</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right" data-sort-value="3">3</td>            <td class="text-left" data-sort-value="george eastman house.flickr"><i class="fa fa-flickr "></i>&nbsp;<a href="George%20Eastman%20House.flickr" class="virtual-modal"  data-flickr="george_eastman_house/3334093628" data-url="https://www.flickr.com/george_eastman_house/3334093628/in/album-72157614812011773" data-name="Two women seated on bench, interior">George Eastman House.flickr</a></td>
                    <td class="text-right" data-sort-value="147" title="147 bytes">147 bytes</td>
                    <td class="text-right" data-sort-value="1460763862" title="2016-04-15 23:44:22">9 months ago</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right" data-sort-value="4">4</td>            <td class="text-left" data-sort-value="thundercat - them changes.soundcloud"><i class="fa fa-soundcloud "></i>&nbsp;<a href="Thundercat%20-%20Them%20Changes.soundcloud" class="virtual-modal"  data-soundcloud="tracks/210910118" data-url="https://soundcloud.com/brainfeeder/thundercat-them-changes" data-name="Thundercat - Them Changes">Thundercat - Them Changes.soundcloud</a></td>
                    <td class="text-right" data-sort-value="161" title="161 bytes">161 bytes</td>
                    <td class="text-right" data-sort-value="1460763862" title="2016-04-15 23:44:22">9 months ago</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right" data-sort-value="5">5</td>            <td class="text-left" data-sort-value="until the quiet comes.vimeo"><i class="fa fa-vimeo-square "></i>&nbsp;<a href="Until%20the%20Quiet%20Comes.vimeo" class="virtual-modal"  data-vimeo="48551671" data-url="https://vimeo.com/48551671" data-name="Until the Quiet Comes">Until the Quiet Comes.vimeo</a></td>
                    <td class="text-right" data-sort-value="61" title="61 bytes">61 bytes</td>
                    <td class="text-right" data-sort-value="1460763862" title="2016-04-15 23:44:22">9 months ago</td>
                  </tr>
                </tbody>                          
              </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_modules %}
    <script src="js/jquery.filebrowser.min.js"></script>
    <link href="css/jquery.filebrowser.min.css" rel="stylesheet"/>
{% endblock %}

{% block app_program %}
        <style type="text/css">
body {
	margin: 0;
}
.browser {
	width: 550px;
	height: 300px;
	border: 1px solid gray;
  float: left;
  margin: 20px;
}
.browser.selected {
	border-color: blue;
}
        </style>
	    <script type="text/javascript">
$(document).ready(function() {
    Dashboard.init();
	TreeView.init();
});

Program.main = function (details) {
    var browse = $('.browser').browse({
		name: 'filestystem',
        root: '/',
        separator: '/',
		refresh_timer: 200,
        dir: function(path, callback) {
           Program.IO.invoke('reactor.execute', ['who']).then(
              function (res) {
                 callback({dirs: ['foo', 'bar'], files: []});
              },
              function (err) {
                 callback(null); // for cases when you type wrong path in address bar

                 //console.log("Error running command 'who' :", err);
              }
           );
        },
        open: function(filename) {
            console.log('opening ' + filename);
        },
        /*
		rename: function (src, dest) {
			process(src, dest, true);
		},
		copy: function (src, dest, remove) {
		    console.log('process ' + src + ' => ' + dest);
		    var file = env;
		    var name;
		    browser.walk(src, function(part, last) {
			    var src = file[part];
			    if (last) {
				    if (remove) {
					    delete file[part];
				    }
			    }
			    file = src;
		    });
		    var current = env;
		    browser.walk(dest, function(part, last) {
			    if (!last) {
				    current = current[part];
			    } else {
                    name = part;
                }
		    });
		    current[name] = file;	
	    },
        //*/
    });
};
$(function() {
	var env = {
		'foo': {
			'foo.txt': 'foo.txt content',
			'bar.txt': 'bar.txt content'
		},
		'bar': {
			'page.html': '<html></html>',
			'style.css': 'body { overflow: scroll; }'
		},
		'baz.txt': 'baz.txt content',
		'quux.txt': 'quux.txt content',
		'lorem.svg': 'lorem.svg content',
		'ipsum.doc': 'ipsum.doc content',
		'dolor.txt': 'dolor.txt content',
		'sit.jpg': 'sit.jpg content',
		'amet.gif': 'amet.gif content'
	};
	function get(path) {
		var current = env;
		browser.walk(path, function(file) {
			current = current[file];
		});
		return current;
	}
	function process(src, dest, remove) {
		console.log('process ' + src + ' => ' + dest);
		var file = env;
		var name;
		browser.walk(src, function(part, last) {
			var src = file[part];
			if (last) {
				if (remove) {
					delete file[part];
				}
			}
			file = src;
		});
		var current = env;
		browser.walk(dest, function(part, last) {
			if (!last) {
				current = current[part];
			} else {
                name = part;
            }
		});
		current[name] = file;	
	}
    /*
	$('.browser').browse({
		root: '/',
		separator: '/',
		name: 'filestystem',
		refresh_timer: 200,
		rename: function(src, dest) {
			process(src, dest, true);
		},
		copy: process,
		dir: function(path, callback) {
			dir = get(path);
			if ($.isPlainObject(dir)) {
				var result = {files:[], dirs: []};
				Object.keys(dir).forEach(function(key) {
					if (typeof dir[key] == 'string') {
						result.files.push(key);
					} else if ($.isPlainObject(dir[key])) {
						result.dirs.push(key);
					}
				});
				callback(result);
			}
		},
		open: function(filename) {
			var file = get(filename);
			if (typeof file == 'string') {
				alert(file);
			}
		}
	});
    //*/
});
	    </script>
{% endblock %}

{% block app_templates %}
<div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" aria-labelledby="file-name" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-left" id="file-name">&nbsp;</h4>
        <small class="text-muted" id="file-meta"></small>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" class="btn btn-link highlight hidden">Apply syntax highlighting</button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <div class="btn-group">
            <a class="btn btn-primary fullview" data-button="Open" role="button">
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" class="email-link"><i class="fa fa-envelope fa-fw"></i> Email</a></li>
              <li role="presentation"><a role="menuitem" class="facebook-link"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
              <li role="presentation"><a role="menuitem" class="google-link"><i class="fa fa-google-plus fa-fw"></i> Google+</a></li>
              <li role="presentation"><a role="menuitem" class="twitter-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

