{% extends 'layouts/vectoriel.html' %}

{% block page_title %}
Vectorial Map
<small>where we map everything ...</small>
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="javascript:;">Home</a></li>
    <li class="active">Vectorial Map</li>
{% endblock %}

{% block floating_title %}Vector Map{% endblock %}

{% block floating_content %}
                        <table class="table table-inverse">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Total Visitors</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Vatican City</td>
                                    <td><span class="text-success">9,820 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Monaco</td>
                                    <td>1,920</td>
                                </tr>
                                <tr>
                                    <td>Nauru</td>
                                    <td><span class="text-danger">1,346 <i class="fa fa-arrow-down"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Tuvalu</td>
                                    <td><span class="text-success">6,543 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>San Marino</td>
                                    <td><span class="text-success">7,321 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Liechtenstein</td>
                                    <td>3,434</td>
                                </tr>
                                <tr>
                                    <td>Marshall Islands</td>
                                    <td>1,922</td>
                                </tr>
                                <tr>
                                    <td>Saint Kitts and Nevis</td>
                                    <td><span class="text-danger">9,812 <i class="fa fa-arrow-down"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Maldives</td>
                                    <td><span class="text-danger">4,182 <i class="fa fa-arrow-down"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Malta</td>
                                    <td>9,188</td>
                                </tr>
                                <tr>
                                    <td>Grenada</td>
                                    <td>11,198</td>
                                </tr>
                                <tr>
                                    <td>Saint Vincent</td>
                                    <td><span class="text-success">9,101 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Barbados</td>
                                    <td><span class="text-success">9,192 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Antigua and Barbuda</td>
                                    <td><span class="text-success">5,282 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Seychelles</td>
                                    <td><span class="text-success">8,283 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Palau</td>
                                    <td><span class="text-danger">1,222 <i class="fa fa-arrow-down"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Andorra</td>
                                    <td>146</td>
                                </tr>
                                <tr>
                                    <td>Saint Lucia</td>
                                    <td>3,923</td>
                                </tr>
                                <tr>
                                    <td>Federated States</td>
                                    <td>9,827</td>
                                </tr>
                                <tr>
                                    <td>Singapore</td>
                                    <td>7,293</td>
                                </tr>
                                <tr>
                                    <td>Kiribati</td>
                                    <td>9,238</td>
                                </tr>
                                <tr>
                                    <td>Tonga</td>
                                    <td>6,422</td>
                                </tr>
                                <tr>
                                    <td>Dominica</td>
                                    <td><span class="text-success">3,341 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Mauritius</td>
                                    <td><span class="text-success">532 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>Bahrain</td>
                                    <td><span class="text-success">8,754 <i class="fa fa-arrow-up"></i></span></td>
                                </tr>
                                <tr>
                                    <td>São Tomé and Príncipe</td>
                                    <td>5,742</td>
                                </tr>
                            </tbody>
                        </table>
{% endblock %}

{% block app_program %}
	    <script>
$(document).ready(function() {
	MapVector.init();
});

Program.main = function (details) {
    var t1, t2;

    t1 = setInterval(function () {
       Program.IO.invoke('reactor.logging', ['frontend', 'debug', 'Hello from JavaScript (browser)']);
    }, 1000);

    var x = 0;

    t2 = setInterval(function () {
       Program.IO.invoke('reactor.execute', ['who']).then(
          function (res) {
             console.log("Users online :", res);
          },
          function (err) {
             console.log("Error running command 'who' :", err);
          }
       );

       x += 3;
    }, 1000);
};
	    </script>
{% endblock %}

