{% extends 'layouts/tool.html' %}

{% block page_title %}
Records
<small>where we query everything ...</small>
{% endblock %}

{% block before_form %}
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-green">
		    <div class="stats-icon"><i class="fa fa-sitemap"></i></div>
		    <div class="stats-info">
			    <h4>CKAN Hub</h4>
			    <p>{{ opendata.ckan.hub|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-blue">
		    <div class="stats-icon"><i class="fa fa-archive"></i></div>
		    <div class="stats-info">
			    <h4>CKAN DataSets</h4>
			    <p>{{ opendata.ckan.dataset|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-4 col-sm-6">
	    <div class="widget widget-stats bg-red">
		    <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
		    <div class="stats-info">
			    <h4>CKAN Resources</h4>
			    <p>{{ opendata.ckan.resource|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
{% endblock %}

{% block render_form %}
{% endblock %}

{% block after_form %}
{% endblock %}

{% block render_result %}
	    <div class="col-md-12">
		    <div class="panel panel-inverse" data-sortable-id="index-1">
			    <div class="panel-heading">
				    <div class="panel-heading-btn">
					    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
					    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
				    </div>
				    <h4 class="panel-title">Query Results</h4>
			    </div>
			    <div class="panel-body">
				    <div id="interactive-chart" class="height-sm"></div>
			    </div>
		    </div>
		    <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
			    <li class="active"><a href="#latest-post" data-toggle="tab"><i class="fa fa-picture-o m-r-5"></i> <span class="hidden-xs">Latest Post</span></a></li>
			    <li class=""><a href="#purchase" data-toggle="tab"><i class="fa fa-shopping-cart m-r-5"></i> <span class="hidden-xs">Purchase</span></a></li>
			    <li class=""><a href="#email" data-toggle="tab"><i class="fa fa-envelope m-r-5"></i> <span class="hidden-xs">Email</span></a></li>
		    </ul>
		    <div class="tab-content" data-sortable-id="index-3">
			    <div class="tab-pane fade active in" id="latest-post">
				    <div class="height-sm" data-scrollbar="true">
{% include "blocks/panels/media.html" %}
			        </div>
			    </div>
			    <div class="tab-pane fade" id="purchase">
				    <div class="height-sm" data-scrollbar="true">
{% include "blocks/panels/table.html" %}
				    </div>
			    </div>
			    <div class="tab-pane fade" id="email">
				    <div class="height-sm" data-scrollbar="true">
{% include "blocks/panels/media.html" %}
				    </div>
			    </div>
		    </div>
	    </div>
{% endblock %}

{% block examples %}
{% endblock %}

{% block help_form %}
{% endblock %}

