{% extends 'layouts/dashboard.html' %}

{% block page_title %}
Dashboard
<small>header small text goes here...</small>
{% endblock %}

{% block before_widgets %}
    <div class="col-md-3 col-sm-6">
	    <div class="widget widget-stats bg-purple">
		    <div class="stats-icon"><i class="fa fa-globe"></i></div>
		    <div class="stats-info">
			    <h4>RDF namespaces</h4>
			    <p>{{ opendata.rdf.namespace|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-3 col-sm-6">
	    <div class="widget widget-stats bg-green">
		    <div class="stats-icon"><i class="fa fa-code"></i></div>
		    <div class="stats-info">
			    <h4>RDF ontologies</h4>
			    <p>{{ opendata.rdf.ontology|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-3 col-sm-6">
	    <div class="widget widget-stats bg-blue">
		    <div class="stats-icon"><i class="fa fa-database"></i></div>
		    <div class="stats-info">
			    <h4>SPARQL ontologies</h4>
			    <p>{{ opendata.sparql.ontology|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
    <div class="col-md-3 col-sm-6">
	    <div class="widget widget-stats bg-red">
		    <div class="stats-icon"><i class="fa fa-plug"></i></div>
		    <div class="stats-info">
			    <h4>SPARQL endpoints</h4>
			    <p>{{ opendata.sparql.endpoint|length }}</p>	
		    </div>
		    <div class="stats-link">
			    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
		    </div>
	    </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="col-md-8">
	    <div class="panel panel-inverse" data-sortable-id="index-1">
		    <div class="panel-heading">
			    <div class="panel-heading-btn">
				    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
				    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
			    </div>
			    <h4 class="panel-title">Semantic Tools</h4>
		    </div>
		    <div class="panel-body">
			    <div id="interactive-chart" class="height-sm"></div>
		    </div>
	    </div>
	    <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
		    <li class="active"><a href="#tokenize" data-toggle="tab"><i class="fa fa-language m-r-5"></i> <span class="hidden-xs">Tokenize</span></a></li>
		    <li class=""><a href="#enrich" data-toggle="tab"><i class="fa fa-spinner m-r-5"></i> <span class="hidden-xs">Enrich</span></a></li>
		    <li class=""><a href="#question" data-toggle="tab"><i class="fa fa-question m-r-5"></i> <span class="hidden-xs">Question</span></a></li>
	    </ul>
	    <div class="tab-content" data-sortable-id="index-3">
		    <div class="tab-pane fade active in" id="tokenize">
                <form method="post">
                    <div class="input-group input-group-lg">
                        <input type="text" name="source" class="form-control" placeholder="Enter some text" />
                        <span class="input-group-addon"><i class="fa fa-language"></i></span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
<!--
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
//-->
                            <button type="button" class="btn btn-success">Tokenize</button>
                        </div>
                    </div>
                </form>
                <textarea name="results" class="form-control" rows="ç"></textarea>
{% include 'blocks/widget/dialect.html' %}
		    </div>
		    <div class="tab-pane fade" id="enrich">
                <form method="post">
                    <div class="input-group input-group-lg">
                        <textarea name="source" class="form-control" placeholder="Enter some text" rows="4"></textarea>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
<!--
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
//-->
                            <button type="button" class="btn btn-success">Enrich</button>
                        </div>
                    </div>
                </form>
                <textarea name="results" class="form-control" rows="ç"></textarea>
{% include 'blocks/widget/topics.html' %}
		    </div>
		    <div class="tab-pane fade" id="question">
                <form method="post">
                    <div class="input-group input-group-lg">
                        <input type="text" name="source" class="form-control" placeholder="Enter some text" />
                        <span class="input-group-addon"><i class="fa fa-question"></i></span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
<!--
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
//-->
                            <button type="button" class="btn btn-success">Answer</button>
                        </div>
                    </div>
                </form>
                <textarea name="results" class="form-control" rows="ç"></textarea>
{% include 'blocks/viewer/timeline.html' %}
		    </div>
	    </div>
    </div>
{% endblock %}

{% block after_widgets %}
    <div class="col-md-6">
{% include 'blocks/viewer/graph.html' %}
    </div>
    <div class="col-md-6">
{% include 'blocks/viewer/mesh.html' %}
    </div>
{% endblock %}

{% block app_program %}
	    <script>
$(document).ready(function() {
    Dashboard.init();
	TreeView.init();
});

Program.main = function (details) {
    $("div#tokenize input[name='source']").on('focusout', function (ev) {
        Program.IO.invoke('reactor.brain.grammar.tokenize', [$(ev.target).val()]).then(
            function (res) {
                $("div#tokenize textarea[name='results']").val(res);

                console.log("", res);
            },
            function (err) {
                console.log("Error running command 'who' :", err);
            }
        );
    });

    $("div#enrich input[name='source']").on('focusout', function (ev) {
        Program.IO.invoke('reactor.brain.vocabulary.assess', [$(ev.target).val()]).then(
            function (res) {
                $("div#enrich textarea[name='results']").val(res);

                console.log("", res);
            },
            function (err) {
                console.log("Error running command 'who' :", err);
            }
        );
    });

    $("div#question input[name='source']").on('focusout', function (ev) {
        Program.IO.invoke('reactor.brain.dialect.assess', [$(ev.target).val()]).then(
            function (res) {
                $("div#question textarea[name='results']").val(res);

                console.log("", res);
            },
            function (err) {
                console.log("Error running command 'who' :", err);
            }
        );
    });
};
	    </script>
{% endblock %}

