<div class="panel panel-inverse" data-sortable-id="tree-view-3">
    <div class="panel-heading">
        <div class="panel-heading-btn">
{% block buttons %}
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
{% endblock %}
        </div>
        <h4 class="panel-title">{% block title %}{{ config.title }}{% endblock %}</h4>
    </div>
{% block alerts %}
<!--
    <div class="alert alert-info">
        <i class="fa fa-info-circle fa-fw"></i> All the opened & selected nodes will be saved in the user's browser.
    </div>
//-->
{% endblock %}
    <div class="panel-body">
{% block content %}
        <div id="jstree-drag-and-drop">
        </div>
{% endblock %}
    </div>
    <div class="panel-footer">
{% block footer %}
{% endblock %}
    </div>
{% block code %}
    <script>
    </script>
{% endblock %}
</div>

